# todo add manually to package.json
AWS_FUNCTION_NAME=Unegma_ExampleBackend_SendMessage

AWS_REGION=eu-west-2
AWS_PROFILE=unegma
SLACK_ERROR_LOG=https://hooks.slack.com/services/xxxx
SLACK_MESSAGES_LOG=https://hooks.slack.com/services/xxxx
